* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: #202020;
  /* background-image: radial-gradient(#afaaaa, #ffffff); */
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 100px;
  background-image: radial-gradient(rgb(0, 0, 0), #202020);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  & .logo {
    font-size: 32px;
    color: #ffa500;
    text-decoration: none;
    font-weight: 700;

    & img {
      left: 100%;
      width: auto; /* Mantém a proporção do logo */
      max-width: 150px; /* Controla o tamanho máximo do logo */
      height: auto; /* Para garantir que o logo mantenha a proporção */
    }
  }

  & .navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 100px;
  }

  & .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ffffff;
  }

  & .navbar a:hover::before {
    width: 100%;
  }

  & .logo-mobile img {
    display: none;
  }

  & .mobile-menu ul {
    display: none;
  }

  & .menu-mobile-icon {
    display: none;
  }

  & .navbar-img {
    display: none;
  }
}

section {
  height: 100vh;
  position: flex;

  & .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;

    & .item {
      position: absolute;
      inset: 0;

      & .service-img {
        position: absolute;
        top: 50%;
        transform: translate(5%, -65%);
        justify-content: center;
        width: 70%;

        & img {
          width: 60%;
        }
      }
    }

    & .content {
      position: absolute;
      right: 100px;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      color: #ffffff;
      gap: 20px;

      & .service-information {
        color: #7dd1d4;
        font-weight: bold;
      }

      & h2 {
        font-size: 5em;
        line-height: 1em;
        font-family: "League Gothic", sans-serif;
      }

      & .description {
        font-size: 12px;
        text-align: right;
        max-width: 400px;
      }

      & .information {
        border-radius: 30px;
        height: 30px;
        width: 120px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        font-family: "League Gothic", sans-serif;

        &:hover {
          background-color: #7dd1d4;
          cursor: pointer;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 100%;
      top: 50%;
      border-top: 1px solid white;
    }
  }

  .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;

    & button {
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 30px;
        margin-top: 4px;
      }

      &:hover {
        background-color: #beff1b;
        cursor: pointer;
      }
    }

    & button:nth-child(1) {
      & img {
        transform: scale(-1);
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 100%);
    height: 10vw;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & ul {
      display: flex;
      gap: 10px;

      & li {
        width: 50px;
        height: 5px;
        background-color: #beff1b;
        border-radius: 10px;
        transition: 0.5s;
      }

      & .active {
        background-color: white;
      }
    }
  }
}

section {
  & .list {
    position: relative;
    overflow: hidden;

    & .item {
      transform: translateX(100vw);
      transition: 0.5s;
      opacity: 0;

      & .car-img {
        & img {
        }
      }

      & .service-img {
        transition: 0.5s;
        transition-delay: 0.3s;
      }

      & .content {
        & .service-information,
        h2,
        .description,
        .information {
          transform: translateX(200px);
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .description {
          transition-delay: 0.7s;
        }

        & .information {
          transition-delay: 0.7s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .content {
        & .service-information,
        h2,
        .description,
        .information {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  header {
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;

    & .logo {
      display: none;
    }

    & .nav-item {
      display: none;
    }

    & .navbar a {
      display: none;
    }

    & .navbar a::before {
      display: none;
    }

    & .navbar a:hover::before {
      display: none;
    }

    & .menu-mobile-icon {
      display: block;
      margin-left: 116%;

      & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-items: center;

        & img {
          width: 50px;
        }
      }
    }
 
    & .mobile-menu {

      & ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
      }

      & .nav-item {
        display: none;
        padding-top: 1.2rem;
      }
    }

    & .open {
      display: block;
    }
  }

  section {
    flex-direction: column;
    max-width: 100%;

    & .list {
      width: auto;
      height: 100vh;
      margin: 0;
      display: flex;

      & .item {
        position: absolute;
        inset: 0;

        & .service-img {
          position: absolute;
          top: 50%;
          transform: translate(10%, -100%);
          justify-content: center;
          width: 70%;

          & img {
            width: 60%;
          }
        }
      }

      & .content {
        position: absolute;
        right: 10px;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .service-infomation {
          font-weight: bold;
        }

        & h2 {
          font-size: 50px;
          line-height: 1em;
          font-family: "League Gothic", sans-serif;
        }
      }

      &::before {
        display: none;
      }
    }

    .arrows {
      display: none;

      & button {
        display: none;
      }
    }

    .indicators {
      transform: translate(-200%, 200%);
    }
  }
}

@media screen and (max-width: 360px) {
  header {
    & .logo {
      font-size: 30px;
    }
    & .navbar a {
      display: none;
    }
  }

  section {
    flex-direction: column;
    & .list {
      width: 123vw;
      height: 100%;
      margin: auto;
      position: relative;
      display: flex;

      & .item {
        position: absolute;
        inset: 0;

        & .service-img {
          position: absolute;
          top: 50%;
          transform: translate(7%, -110%);
          justify-content: center;
          width: 70%;

          & img {
            width: 70%;
          }
        }
      }

      & .content {
        position: absolute;
        right: 10px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .service-infomation {
          font-weight: bold;
        }

        & h2 {
          font-size: 35px;
          line-height: 1em;
          font-family: "League Gothic", sans-serif;
        }
      }

      &::before {
        display: none;
      }
    }

    .arrows {
      display: none;

      & button {
        display: none;
      }
    }

    .indicators {
    }
  }
}
