* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: #202020;
  font-size: 16px;
}

.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  & .logo {
    & img {
      width: 200px;
    }
  }

  & .navbar ul {
    display: flex;

    & li a {
      display: block;
      color: white;
      font-size: 20px;
      padding: 10px 25px;
      border-radius: 50px;
      transition: 0.2s;
      margin: 0 5px;
    }

    & li a:hover {
      background-color: #fefefe;
      color: black;
    }

    & li a:active {
      background-color: #fefefe;
      color: black;
    }
  }
}

section {
  height: 100vh;

  & .list {
    top: 22%;
    width: 70vw;
    height: 45%;
    margin: auto;
    position: relative;
    display: flex;

    & .item {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;

      & .service-img {
        position: absolute;
        display: flex;
        width: auto;
        height: auto;
        left: 5%;
        top: 10%;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    & .content {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      color: #ffffff;
      gap: 20px;
      z-index: 1;

      & .service-information {
        margin-right: 5%;
        color: #7dd1d4;
        font-weight: bold;
        display: flex;
      }

      & h2 {
        display: flex;
        margin-right: 5%;
        color: #ffa500;
        font-size: 4em;
        line-height: 1em;
        font-family: "League Gothic", sans-serif;
      }
      & .description {
        display: flex;
        margin-right: 4%;
        font-size: 20px;
        width: 400px;
        text-align: right;
      }

      & .information {
        margin-right: 4%;
        border-radius: 30px;
        height: 30px;
        width: 120px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        font-family: "League Gothic", sans-serif;

        &:hover {
          background-color: #7dd1d4;
          cursor: pointer;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      top: 50%;
      border-top: 0.1px solid white;
    }

    .indicators {
      position: absolute;
      top: 95%;
      left: 10%;
      height: 1vw;
      width: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 15px;

      & ul {
        display: flex;
        gap: 10px;

        & li {
          width: 50px;
          height: 5px;
          background-color: #beff1b;
          border-radius: 10px;
          transition: 0.5s;
        }

        & .active {
          background-color: white;
        }
      }
    }
  }

  #prev {
    width: 100vw;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    left: -50%;
    transform: translate(35vw, -45%);
    display: flex;

    & button {
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 40px;
        margin-top: 4px;
        transform: scale(-1);
      }

      &:hover {
        background-color: #beff1b;
        cursor: pointer;
      }
    }
  }

  #next {
    width: 100vw;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    right: -50%;
    transform: translate(-35.7vw, -45%);
    display: flex;

    & button {
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 40px;
        margin-top: 4px;
      }

      &:hover {
        background-color: #beff1b;
        cursor: pointer;
      }
    }
  }
}

/* animação do carrossel  */
section {
  & .list {
    position: relative;
    overflow: hidden;

    & .item {
      transform: translateX(100vw);
      transition: 0.5s;
      opacity: 0;

      & .car-img {
        & img {
        }
      }

      & .service-img {
        transition: 0.5s;
        transition-delay: 0.3s;
      }

      & .content {
        & .service-information,
        h2,
        .description,
        .information {
          transform: translateX(200px);
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .description {
          transition-delay: 0.7s;
        }

        & .information {
          transition-delay: 0.7s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .content {
        & .service-information,
        h2,
        .description,
        .information {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  section {
    .list {
      .item {
        .content {
          .service-img {
          }

          .service-information {
            display: flex;
            font-size: 1.5rem;
          }

          h2 {
            font-size: 5rem;
          }

          .description {
            display: flex;
            width: 40%;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1616px) {
  section {
    .list {
      .item {
        .content {
          .service-img {
          }

          .service-information {
            margin-right: 5%;
            display: flex;
            font-size: 1.5rem;
          }

          h2 {
            font-size: 5rem;
          }

          .description {
            display: flex;
            margin-right: 5%;
            width: 40%;
            font-size: 18px; /* Tamanho de fonte pequeno */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1564px) {
  section {
    .list {
      .item {
        .content {
          gap: 40px;
          .service-img {
          }

          .service-information {
            margin-right: 5%;
            display: flex;
            font-size: 1.5rem;
          }

          h2 {
            font-size: 5rem;
          }

          .description {
            display: flex;
            margin-right: 5%;
            width: 40%;
            font-size: 15px; /* Tamanho de fonte pequeno */
          }
        }
      }

      #next {
        margin-right: 1.7px;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .header-mobile {
    background-color: #000;
    z-index: 1; /* Colocar o header acima do conteúdo */
    position: fixed; /* Fixa o header no topo */
    width: 100%;

    .nav-bar-mobile {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 4rem;

      .logo {
        display: flex;
        width: auto;
        height: auto;

        & img {
          display: flex;
          width: 100%;
          height: auto;
        }
      }
    }

    .mobile-menu-icon {
      display: flex;
      align-items: center;
      button {
        display: flex;
        width: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 0;
        z-index: 2;
        position: fixed;

        img {
          display: flex;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .mobile-menu {
    max-height: 0;
    overflow: hidden;
    background-color: black;
    padding: 0; /* Inicialmente sem padding para evitar o espaçamento enquanto está fechado */
    transition: max-height 0.6s ease, padding 0.6s ease; /* Adiciona transição para altura e padding */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;

    ul {
      display: block;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
    .nav-item {
      font-size: 1.15rem;
      font-weight: 400;
      color: white;
      padding-top: 1rem;
    }

    .nav-link {
      color: white;
    }

    & li a:hover {
      padding: 1px 22px;
      border-radius: 50px;
      background-color: #fefefe;
      color: black;
    }

    & li a:active {
      border-radius: 100px;
      background-color: #fefefe;
      color: black;
    }

    &.open {
      max-height: 500px; /* Define a altura máxima quando o menu está aberto */
      padding: 20px 0; /* Adiciona o padding desejado ao abrir */
    }
  }

  .open {
    padding-top: 150px;
    transition: max-height 0.6s ease, padding 0.6s ease; /* Adiciona transição para altura e padding */
    section {
      .list {
        .item {
          .content {
            .service-img {
            }

            .service-information {
              margin-right: 6%;
              display: flex;
              font-size: 1rem;
            }

            h2 {
              margin-right: 6%;
              font-size: 3rem;
            }

            .description {
              margin-right: 6%;
              display: flex;
              width: 40%;
              font-size: 11.5px;
            }
            .information {
              margin-right: 6%;
            }
          }
        }
        #prev {
          display: block;
        }

        #next {
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: 898px) {
    .header-mobile {
      background-color: #000;
      z-index: 2;
      position: fixed;

      .nav-bar-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 1.5rem;

        .logo {
          display: flex;
          width: auto;
          height: auto;

          & img {
            display: flex;
            width: 100%;
            height: auto;
          }
        }
      }
      .mobile-menu-icon {
        display: flex;
        align-items: center;
        button {
          display: flex;
          width: auto;
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-top: 0;
          z-index: 2;
          position: relative;

          img {
            display: flex;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    section {
      .list {
        width: 98vw;

        .item {
          .content {
            gap: 5px;
            .service-img {
              img {
              }
            }

            .service-information {
              margin-right: 0;
            }

            h2 {
              margin-right: 0;
            }

            .description {
              font-size: 13px;

              margin-right: 0;
            }

            .information {
              margin-right: 0;
            }
          }
        }

        #prev {
          display: none;
        }

        #next {
          display: none;
        }
      }

      ::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .header-mobile {
    background-color: #000;
    z-index: 2;
    position: relative;

    .nav-bar-mobile {
      display: flex;

      .logo {
        & img {
        }
      }

      .mobile-menu-icon {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          z-index: 3;
          position: relative;

          img {
            width: 55%;
            height: auto;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;
    background-color: black; /* Fundo escuro */
    padding: 20px 0; /* Espaçamento no menu */
    position: absolute; /* Garante que ele esteja sobreposto ao conteúdo */
    top: 100%; /* Coloca o menu logo abaixo do nav-bar */
    left: 0;
    width: 100%;
    z-index: 2; /* Certifique-se de que o z-index seja menor que o do botão */

    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
    .nav-item {
      font-size: 1.15rem;
      font-weight: 400;
      color: white;
      padding-top: 1rem;
      list-style: none;
    }

    .nav-link {
      text-decoration: none; /* Remove o sublinhado do link */
      color: white; /* Define a cor do texto do link */
    }

    &.open {
      display: block; /* Mostra o menu quando a classe "open" for aplicada */
    }
  }

  /* dispositivos 360px */
  section {
    flex-direction: column;

    & .list {
      width: 100%;
      height: 100%;
      padding-top: 100%;
      margin: 0;

      & .item {
        position: flex;
        inset: 0;

        & .service-img {
          position: flex;
          top: 65%;
          transform: translate(28%, -100%);
          justify-content: center;
          width: 100%;
          height: auto;
        }
      }

      & .content {
        position: relative;
        top: 10%;
        left: -2%;
        width: 100%;
        height: 115%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .service-infomation {
          font-weight: bold;
        }

        & h2 {
          font-size: 35px;
          line-height: 1em;
          font-family: "League Gothic", sans-serif;
        }

        & .description {
          font-size: 12px;
          text-align: right;
          max-width: 400px;
        }

        & .information {
          border-radius: 30px;
          height: 30px;
          width: 120px;
          text-transform: uppercase;
          border: 2px solid #ffffff;
          background-color: #ffffff;
          color: #000;
          cursor: pointer;
          font-size: 20px;
          font-weight: bold;
          font-family: "League Gothic", sans-serif;

          &:hover {
            background-color: #7dd1d4;
            cursor: pointer;
          }
        }

        &::before {
          display: none;
        }
      }

      .arrows {
        display: none;

        & button {
          display: none;
        }
      }
    }
  }
}

/* @media screen and (max-width: 1080px) and (max-height: 2400px) {
  section {
    .indicators {
      margin-top: 200%;
    }
  }
}

@media screen and (max-width: 912px) and (max-height: 1368px) {
  section {
    .indicators {
      top: 34%;
    }
  }
}


@media screen and (max-width: 800px) and (max-height: 1280px) {
  section {

    .indicators {
      margin-top: -26%;
    }
  }
}

@media screen and (max-width: 712px) and (max-height: 1138px) {
  section {

    .indicators {
      top: 46%;
    }

  }
}

@media screen and (max-width: 820px) and (max-height: 1180px) {
  section {

    .indicators {
      margin-top: -19%;
    }

  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  section {

    & .list {

      & .item {

        & .service-img {
          top: 50%;
          transform: translate(25%, -100%);
        }
      }

      &.content {
        top: 10%;
        height: 115%;

        & .service-infomation {
          font-weight: bold;
        }

        & h2 {
          font-size: 700vw;
          line-height: 2em;
          font-family: "League Gothic", sans-serif;
        }

        &::before {
          display: none;
        }
      }
    }

    .arrows {
      display: none;

      & button {
        display: none;
      }
    }
    .indicators {
      margin-top: -12%;
    }

  }
}

@media screen and (max-width: 430px) and (max-height: 932px) {
  section {
    
    & .list {

      & .item {

        & .service-img {
          top: 65%;
          transform: translate(25%, -100%);
        }
      }

      & .content {
        top: 10%;
        height: 115%;

        & h2 {
          font-size: 48px;
        }

        &::before {
          display: none;
        }
      }
    }

    .arrows {
      display: none;

      & button {
        display: none;
      }
    }
    .indicators {
      top: 47%;
    }
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  section {

    .indicators {
      top: 47%;
    }

  }
}

@media screen and (max-width: 344px) and (max-height: 882px) {
  section {
    height: 50vh;

    .indicators {
      top: 56%;
    }

  }
}


@media screen and (max-width: 390px) and (max-height: 844px) {
  section {

    .indicators {
      top: 49%;
    }

  }
}

@media screen and (max-height: 800px) {
  section {

    .indicators {
      margin-top: -23%;
    }

  }
}

@media screen and (max-width: 360px) and (max-height: 740px) {
  section {
    
    & .list {

      & .item {

        & .service-img {
          top: 65%;
          transform: translate(25%, -100%);
        }
      }

      & .content {
        top: 10%;
        height: 115%;

        & h2 {
          font-size: 40px;
        }

        &::before {
          display: none;
        }
      }
    }

    .arrows {
      display: none;

      & button {
        display: none;
      }
    }
    .indicators {
      top: 56%;
    }

  }
}

@media screen and (max-width: 540px) and (max-height: 720px) {
  section {

    .indicators {
      margin-top: 3%;
    }
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  section {

    .indicators {
      margin-top: 13%;
    }
  }
}

@media screen and (max-width: 384px)  and (max-height: 640px) {
  section {

    .indicators {
      top: 62%;
    }
  }
}

@media screen and (max-width: 360px)  and (max-height: 640px) {
  section {

    .indicators {
      top: 45%;
    }
  }
}

@media screen and (max-width: 320px)  and (max-height: 658px) {
  section {

    .indicators {
      top: 52%;
    }
  }
}

@media screen and (max-width: 1024px)  and (max-height: 600px) {
  section {

    .indicators {
      top: 125%;
    }
  }
}

@media screen  and (max-width: 640px) and (max-height: 360px) {
  section {

    .indicators {
      top: 152%;
    }
  }
} */

@media screen and (max-width: 320px) {
  .header-mobile {
    background-color: #000;
    z-index: 2;
    position: relative; /* Garante que o conteúdo esteja dentro do fluxo correto */

    .nav-bar-mobile {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.1rem;

      .logo {
        display: flex;
        align-items: flex-start;
        margin-right: 0;
        font-size: 25px;
        text-decoration: none;
        color: #ffa500;
      }

      .mobile-menu-icon {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          z-index: 3; /* Aumenta a prioridade do botão */
          position: relative;

          img {
            width: 55%;
            height: auto;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;
    background-color: black; /* Fundo escuro */
    padding: 20px 0; /* Espaçamento no menu */
    position: absolute; /* Garante que ele esteja sobreposto ao conteúdo */
    top: 100%; /* Coloca o menu logo abaixo do nav-bar */
    left: 0;
    width: 100%;
    z-index: 2; /* Certifique-se de que o z-index seja menor que o do botão */

    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
    .nav-item {
      font-size: 1.15rem;
      font-weight: 400;
      color: white;
      padding-top: 1rem;
      list-style: none;
    }

    .nav-link {
      text-decoration: none; /* Remove o sublinhado do link */
      color: white; /* Define a cor do texto do link */
    }

    &.open {
      display: block; /* Mostra o menu quando a classe "open" for aplicada */
    }
  }

  /* dispositivos 320px */
  section {
    height: 101vh;

    & .list {
      .indicators {
        top: 62%;
      }

      #prev {
        display: none;
      }

      #next {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }

  .arrows {
    display: none;

    & button {
      display: none;
    }
  }
}
